In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

After mounting, your Google Drive files are accessible at `/content/drive/MyDrive/`. You can browse your files and copy their paths to load them directly into your Colab notebook. For example, to list files in a specific folder, you can use the `os` module:

In [ ]:
import pandas as pd

# Load dataset
data = pd.read_csv("/content/Titanic-Dataset.csv")
#data = pd.read_csv("student_data.csv")

# Display numerical statistics
print("Statistical Summary of Numerical Data:")
print(data.describe())

Statistical Summary of Numerical Data:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
import pandas as pd

# Load dataset
#data = pd.read_csv("/content/drive/MyDrive/ML Datasets/student_data.csv")
# Display categorical column values
print("Gender Distribution:")
print(data['Embarked'].value_counts())

print("\nDepartment Distribution:")
print(data['Cabin'].value_counts())

Gender Distribution:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Department Distribution:
Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [ ]:
import pandas as pd

# Load dataset
#data = pd.read_csv("/content/drive/MyDrive/ML Datasets/student_data_1.csv")

# Check missing values
print("Missing Values in Each Column:")
print(data.isnull().sum())

# Check duplicate records
print("\nNumber of Duplicate Rows:")
print(data.duplicated().sum())

Missing Values in Each Column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Number of Duplicate Rows:
0

In [ ]:
# Fill missing numerical values with mean
data.fillna(data.mean(numeric_only=True), inplace=True)


# Remove duplicate rows
data.drop_duplicates(inplace=True)

print("Data after cleaning:")
print(data.isnull().sum())

Data after cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# One-Hot Encoding
encoded_data = pd.get_dummies(data, columns=['Embarked', 'Cabin'])

print("Encoded Dataset:")
print(encoded_data.head())

Encoded Dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare  ...  Cabin_E8  Cabin_F E69  Cabin_F G63  \
0      0         A/5 21171   7.2500  ...     False        False        False
1      0          PC 17599  71.2833  ...     False        False        False
2      0  STON/O2. 3101282   7.9250  ...     False        False        False
3      0            113803  53.1000  ...     False        False        False
4      0            373450   8.0500  ...     False        False        False

   Cabin_F G73  Cabin_F2  Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  Cabin_T
0        False     False      False      False     False     False    False
1        False     False      False      False     False     False    False
2        False     False      False      False     False     False    False
3        False     False      False      False     False     False    False
4        False     False      False      False     False     False    False

[5 rows x 160 columns]

In [ ]:
import pandas as pd

# Load dataset
#data = pd.read_csv("/content/drive/MyDrive/ML Datasets/student_data_1.csv")

print("Missing values BEFORE handling:")
print(data.isnull().sum())

# Identify numerical and categorical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

# Fill numerical columns with mean
for col in numerical_cols:
    data[col].fillna(data[col].mean(), inplace=True)

# Fill categorical columns with mode
for col in categorical_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

print("\nMissing values AFTER handling:")
print(data.isnull().sum())

Missing values BEFORE handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values AFTER handling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

/tmp/ipython-input-1566007151.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
/tmp/ipython-input-1566007151.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [ ]:
import pandas as pd

# Load dataset
#data = pd.read_csv("/content/drive/MyDrive/ML Datasets/student_data_1.csv")

print("Missing values BEFORE handling:")
print(data.isnull().sum())

# Identify numerical and categorical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

# Fill numerical columns with mean
for col in numerical_cols:
    data[col].fillna(data[col].mean(), inplace=True)

# Fill categorical columns with mode
for col in categorical_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

print("\nMissing values AFTER handling:")
print(data.isnull().sum())

Missing values BEFORE handling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Missing values AFTER handling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

/tmp/ipython-input-1566007151.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
/tmp/ipython-input-1566007151.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [ ]:
import pandas as pd

# Load dataset
# data = pd.read_csv("/content/drive/MyDrive/ML Datasets/Titanic-Dataset.csv")

print("Missing values BEFORE handling:")
print(data.isnull().sum())

# Identify numerical and categorical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

# Fill numerical columns with mean
for col in numerical_cols:
    data[col] = data[col].fillna(data[col].mean())

# Fill categorical columns with mode
for col in categorical_cols:
    data[col] = data[col].fillna(data[col].mode()[0])

print("\nMissing values AFTER handling:")
print(data.isnull().sum())

# ðŸ”¹ Save the preprocessed data to a new CSV file
data.to_csv("Titanic_data_preprocessed.csv", index=False)

print("\nPreprocessed data saved as 'Titanic_data_preprocessed.csv'")

Missing values BEFORE handling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Missing values AFTER handling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Preprocessed data saved as 'Titanic_data_preprocessed.csv'